!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title jQuery File Upload Example

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"}

    / The Iframe Transport is required for browsers without support for XHR file uploads
    %script{:src => "js/jquery.iframe-transport.js"}
    / The basic File Upload plugin
    %script{:src => "js/jquery.fileupload.js"}

    :css

      body{
        font-family: verdana, arial, helvetica, sans-serif;
        font-size:12px;
        color:#666666;
        margin:0;
        padding:0;
        height: 300px;
      }

      progress{
        width: 200px;
      }

      #drag_text{
        position: absolute;
        z-index: 0;
        top:0;
        left:0;
        width: 500px;
        padding-top:120px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #ddd;
        font-style:italic;
      }

      #uploading_files, #file_upload{
        position: relative;
        z-index: 1;
      }


  %body

    - folder = 'uploaded_files'

    #drag_text Drag files here

    %form#file_upload(action="" method="post" enctype="multipart/form-data")
      %input{:type => :hidden, :name => :key, value: "#{s3_key(folder)}"}
      %input{:type => :hidden, :name => "AWSAccessKeyId", :value => "#{S3_CONFIG['access_key_id']}"}
      %input{:type => :hidden, :name => :acl, :value => 'public-read'}
      %input{:type => :hidden, :name => :success_action_status, :value => "201"}
      %input{:type => :hidden, :name => :policy, value: "#{s3_policy(path: folder)}" }
      %input{:type => :hidden, :name => :signature, value: "#{s3_signature(path: folder)}"}

      %input{:type => :file, :name => 'file', multiple: ''}

    #uploading_files


    :javascript
      $(function() {
        $('#file_upload').fileupload({
          dropZone: $(document.body),
          url: "#{s3_bucket_url}",
          formData: function (form) {
            return form.serializeArray();
          },
          fail: function(e, data) {
            console.log('fail');
            console.log(data);
          },
          add: function (e, data) {
            //var out = '';
            //for (var p in data.files[0]) {
            //  out += p + ': ' + data.files[0][p] + '\n';
            //}
            //alert(out);

            // Can only track progress if size property is present on files.
            if( data.files[0].hasOwnProperty('size') ){
              $.each(data.files, function(index, file) {
                var uploadPercent = "<br/><progress value='0' max='100' class='upload_progress_bar'>0</progress> <span class='upload_percentage'>0</span>" + '%';
                $('#uploading_files').append("<p class='uploading_file'>" + file.name + uploadPercent + "</p>");
              });
            } else
              $.each(data.files, function(index, file) {
                $('#uploading_files').append("<p class='uploading_file'>" + file.name + "<br/><img src='img/uploading.gif'/></p>");
              });
            data.submit();
          },
          progress: function (e, data) {
            if( data.files[0].hasOwnProperty('size') ){
              var fileIndex = data.originalFiles.indexOf(data.files[0])
              var progress = parseInt(data.loaded / data.total * 100, 10);
              $('.upload_percentage').eq(fileIndex).html(progress);
              $('.upload_progress_bar').eq(fileIndex).val(progress);
            }
          },
          //start: function (e) {
          //  console.log('Upload started');
          //},
          done: function (e, data) {
            var fileIndex = data.originalFiles.indexOf(data.files[0]);
            $('.uploading_file').eq(fileIndex).hide();
          },
          stop: function(e){
            $('.uploading_file').remove()
            $.ajax('http://daveoshana.com', {type: 'POST'})
          }//,
          //add: function (e, data) {
          //    $.each(data.files, function (index, file) {
          //      alert('Added file: ' + file.name);
          //    });
          //    data.url = '/path/to/upload/handler.json';
          //    var jqXHR = data.submit()
          //        .success(function (result, textStatus, jqXHR) {/* ... */})
          //        .error(function (jqXHR, textStatus, errorThrown) {/* ... */})
          //        .complete(function (result, textStatus, jqXHR) {/* ... */});
          //}
        });
      });