!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title jQuery File Upload Example

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"}

    / The Iframe Transport is required for browsers without support for XHR file uploads
    %script{:src => "js/jquery.iframe-transport.js"}
    / The basic File Upload plugin
    %script{:src => "js/jquery.fileupload.js"}

    :css

      body{
        font-family: verdana, arial, helvetica, sans-serif;
        font-size:12px;
        color:#666666;
        margin:0;
        padding:0;
        height: 300px;
      }

      progress{
        width: 200px;
      }

      #drag_text{
        position: absolute;
        z-index: 0;
        top:0;
        left:0;
        width: 500px;
        padding-top:100px;
        text-align: center;
        font-size: 2em;
        font-weight: bold;
        color: #ddd;
        font-style:italic;
      }

      #uploading_files, #file_upload{
        position: relative;
        z-index: 1;
      }

      #drag_remark{
        font-size: 0.5em;
      }

      .remove_link{
        color: red;
        text-decoration: none;
      }


  %body

    - folder = 'uploaded_files'

    #drag_text
      drop files here
      %br
      %span#drag_remark
        file drag'n'drop works in Google Chrome, Firefox 4+ and Safari 5+
        %br
        (buggy in Windows Safari)

    %form#file_upload(action="" method="post" enctype="multipart/form-data")
      %input{:type => :hidden, :name => :key, value: "#{s3_key(folder)}"}
      %input{:type => :hidden, :name => "AWSAccessKeyId", :value => "#{S3_CONFIG['access_key_id']}"}
      %input{:type => :hidden, :name => :acl, :value => 'public-read'}
      %input{:type => :hidden, :name => :success_action_status, :value => "201"}
      %input{:type => :hidden, :name => :policy, value: "#{s3_policy(path: folder)}" }
      %input{:type => :hidden, :name => :signature, value: "#{s3_signature(path: folder)}"}

      %input{:type => :file, :name => 'file', multiple: ''}

    #uploading_files


    :javascript
      $(function() {
        $('#file_upload').fileupload({
          dropZone: $(document.body),
          url: "#{s3_bucket_url}",
          formData: function (form) {
            return form.serializeArray();
          },
          fail: function(e, data) {
          //
          },
          add: function (e, data) {
            //var out = '';
            //for (var p in data.files[0]) {
            //  out += p + ': ' + data.files[0][p] + '\n';
            //}
            //alert(out);

            // Can only track progress if size property is present on files.
            file = data.files[0];
            if( file.hasOwnProperty('size') ){
              var uploadPercent = "<br/><progress value='0' max='100' class='upload_progress_bar'>0</progress> <span class='upload_percentage'>0</span>" + '%';
              $('#uploading_files').append("<p class='uploading_file'>" + file.name + uploadPercent + " <a href='#' class='remove_link'>X<a/></p>");
            } else
              $('#uploading_files').append("<p class='uploading_file'>" + file.name + "<br/><img src='img/uploading.gif'/></p>");

            data.context = $('.uploading_file').last();
            data.jqXHR = data.submit();

            $('.uploading_file .remove_link').last().click(function (e) {
              data.jqXHR.abort();
              data.context.hide()
            });
          },
          progress: function (e, data) {
            if( data.files[0].hasOwnProperty('size') ){
              var progress = parseInt(data.loaded / data.total * 100, 10);
              data.context.find('.upload_percentage').html(progress);
              data.context.find('.upload_progress_bar').val(progress);
            }
          },
          done: function (e, data) {
            data.context.hide();
          },
          stop: function(e){
            $('.uploading_file').remove()
            //$.ajax('http://daveoshana.com', {type: 'POST'})
          }
        });
      });